<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; flex-direction: column; gap: 20px;"></div>

    <ion-button expand="block" size="large" color="secondary" routerLink="/cadastro">
      CADASTRO
    </ion-button>

    <ion-button expand="block" size="large" color="success" routerLink="/receber">
      RECEBER
    </ion-button>

    <ion-button expand="block" size="large" color="danger" routerLink="/pagar">
      PAGAR
    </ion-button>

 <!--Talvez colocar o DIV aqui-->
</ion-content>
